#dashboard {
  display: flex;
  width: 1080px;
  justify-content: space-between;
  margin-top: 60px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.delete-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.star-button .fa-star {
  font-size: 24px;
  color: #ccc;
  transition: color 0.3s;
  position: absolute;
  top: 10px;
  right: 10px;
}

.star-button .fa-star:hover {
  color: gold;
}

.star-button .fa-star.starred {
  color: gold;
}

.toggle-suggested-button {
  background-color: #070707;
  color: white;
  border: 1px solid #535353;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  position: absolute;
  left: 0;
}

.repo-section {
  background-color: #0d1117;
  color: #bdbdbd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  max-width: 700px;
}

.repo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repo-title {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #0366d6;
  position: absolute;
  top: 70px;
  left: 20px;
}

.repo-id {
  margin: 0;
  font-weight: bold;
  color: #0366d6;
  position: absolute;
  top: 40px;
  left: 10px;
}

.repo-details {
  margin-top: 60px;
}

.repo-description {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  word-wrap: break-word;
  max-width: 85%;
  margin-top: 8px;
}

.toggle-visibility-button {
  margin-left: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.repo-visibility {
  background-color: #0366d6;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 10px;
  display: inline-block;
}

.toggle-repo-id-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #ccc;
}

.toggle-repo-id-button:hover {
  color: #0366d6;
}

.repo-section .repo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repo-section .repo-header h4 {
  margin: 0;
  font-size: 16px;
  color: #bdbdbd;
}

.repo-section .repo-header p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}

.repo-section .repo-header .tags {
  display: flex;
  gap: 8px;
}

.repo-section .repo-header .tags span {
  background-color: #444;
  color: #ccc;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.repo-section .repo-header .updated {
  font-size: 12px;
  color: #ccc;
}
.repo-title-link:hover .repo-title {
  text-decoration: underline;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #080808;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 500;
  padding-top: 120px;
}

.side-menu.open {
  left: 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
}

.toggle-suggested-button {
  position: fixed;
  top: 100px;
  left: 10px;
  background-color: #070707;
  color: rgb(247, 246, 246);
  border: 1px solid #535353;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1001;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-suggested-button:hover {
  background-color: #535353;
  transform: scale(1.1);
}

.suggested-repos-menu {
  padding: 10px;
  animation: fadeIn 0.5s ease-in-out;
}

.suggested-repos-menu ul {
  list-style-type: none;
  padding: 0;
}

.suggested-repos-menu li {
  margin: 5px 0;
}

.suggested-repo-link {
  color: #0366d6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.suggested-repo-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


main {
  flex: 1;
  margin-right: 20px;
}

.events-section {
  width: 300px;
  margin-left: 20px;
}

.events-list {
  list-style-type: none;
  padding: 0;
}

.event-item {
  border: 1px solid #5b85b4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #0d1117;
}

.event-item h4 {
  margin: 0 0 5px 0;
}

.event-item p {
  margin: 5px 0;
}